.jumbotron{
    color: rgb(0, 0, 0);
    background-color:WHITE !important;
}

html {
    position: relative;
    min-height: 100%;
  }

body{
    background-color:#F5F7F8 !important;
    /* Margin bottom by footer height */
    margin-bottom: 40px;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color:black;
    color: red;
    text-align: right;
}
